<!DOCTYPE html>
<html>
<head>
    <title>Student CRUD Operations</title>
</head>
<body>
    <h1>Student CRUD Operations</h1>

    <!-- Form for Create -->
    <h2>Create Student Record</h2>
    <form id="createForm" action="/students" method="post">
        Student ID: <input type="text" name="student_id" required><br>
        First Name: <input type="text" name="first_name" required><br>
        Last Name: <input type="text" name="last_name" required><br>
        Date of Birth: <input type="date" name="dob" required><br>
        Amount Due: <input type="number" step="0.01" name="amount_due" required><br>
        <input type="submit" value="Create">
    </form>

    <!-- Form for Read -->
     <h2>Read Student Record</h2>
    <form id="readForm" action="/students" method="GET">
        Student ID: <input type="number" name="read_id" required><br>
        <input type="submit" value="Read">
    </form>

    <!-- Form for Update -->
   <h2>Update Student Record</h2>
    <form id="updateForm" action="/students/update" method="POST">
        Student ID: <input type="number" name="student_id" required><br>
        First Name: <input type="text" name="first_name" required><br>
        Last Name: <input type="text" name="last_name" required><br>
        Date of Birth: <input type="date" name="dob" required><br>
        Amount Due: <input type="number" step="0.01" name="amount_due" required><br>
        <input type="submit" value="Update">
    </form>

    <!-- Form for Delete -->
    <h2>Delete Student Record</h2>
    <form id="deleteForm" action="/students/delete" method="POST">
        Student ID: <input type="number" name="student_id" required><br>
        <input type="submit" value="Delete">
    </form>

</body>
</html>
